@using Umbraco.Cms.Core.Models.Blocks
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockGridItem>

@{
    var content = Model.Content;
    var title = content.Value<string>("title");
    var description = content.Value<Umbraco.Cms.Core.Strings.IHtmlEncodedString>("description");
}

<div class="text-group">
    @if (!string.IsNullOrWhiteSpace(title))
    {
        <h3 class="title">@Html.Raw(title)</h3>
    }
    @if (description != null)
    {
        <div class="description">
            @description
        </div>
    }
</div>
